/*ARCHIVO RAIZ DE SASS*/
/*Mapa para crear clases en css y aplicarlas en html*/
/*Sintaxis para crear variables: $variable -- Valor Que Se Repite;*/
/*FIN MAPA*/
/*VARIABLES PARA ELEMENTOS*/
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
h1 {
  color: rgba(255, 255, 255, 0.864);
}

h2 {
  font-family: 'Krona One', sans-serif;
  font-size: 20;
  color: rgba(255, 255, 255, 0.864);
}

h3 {
  font-family: 'Abril Fatface', cursive;
  color: rgba(255, 255, 255, 0.864);
}

p {
  font-family: 'Ribeye', cursive;
  color: rgba(255, 255, 255, 0.864);
  font-size: 20px;
}

li {
  font-family: 'Krona One', sans-serif;
}

.p__de__index {
  font-family: 'Kavivanar', cursive;
  color: rgba(255, 255, 255, 0.864);
  font-size: 20px;
}

.p__de__index {
  font-family: 'Kavivanar', cursive;
  color: rgba(255, 255, 255, 0.864);
  font-size: 20px;
}

.p__historia {
  color: rgba(255, 255, 255, 0.864);
}

/*CSS PARA TEXTOS*/
body {
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*CSS PARA EL BODY*/
header {
  background-size: contain;
  justify-content: center;
  justify-items: center;
  text-align: center;
  width: 100%;
}

.navbar {
  justify-content: space-between;
}

.navbar__logo {
  border-radius: 70%;
  align-content: center;
  width: 150px;
}

.mask {
  background-color: rgba(0, 0, 0, 0.6);
}

.img__header {
  height: 400px;
}

/*CSS PARA EL HEADER*/
.main {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  justify-content: center;
}

.img__noticia {
  border-radius: 100%;
  border: solid white 5px;
}

/*CSS PARA EL MAIN*/
footer {
  background-size: contain;
  width: 100%;
  align-items: center;
  align-content: center;
}

/*CSS PARA EL FOOTER*/
/*  FORMULARIO DE LA PAGINA DE CONTACTO EXTRADO DE OTRA LIBRERIA DE LA */
.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
}

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
}

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #426e1d;
  border-color: #0f000b;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}

button p {
  color: #fff;
}

span {
  color: #ab4493;
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

h1 {
  font-size: 39px;
  text-align: letf;
  padding-bottom: 20px;
  color: #ffffff;
}

h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e;
}

p {
  font-size: 14px;
  color: #0e0e0e;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848;
}

/*CSS FORMULARIO PAGINA CONTACTO*/
/* ANIMACIONES */
.main__titulo {
  padding: 20px;
  margin: 20px;
  font-size: 20px;
  transition: 2s;
}

.contenedor__main__titulo {
  transition: 2s;
}

.contenedor__main__titulo:hover {
  transform: scale(3);
}

.main__titulo:hover {
  size: 100px;
}

.navbar__logo {
  transition: 2s;
}

.navbar__logo:hover {
  transform: rotate(360deg);
}

/* ANIMACIONES */
/*CSS PARA ANIMACIONES*/
/*Media Queries: AZUL: MOVILES S-M-L-, AMARILLO: TABLET, VERDE: LAPTOP, ROJO: DESKTOP  */
@media only screen and (min-width: 319px) and (max-width: 767px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: 0;
  }
  body {
    border: solid blue 10px;
    text-align: center;
  }
  /*Bottom Nav*/
  .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .navbar-toggler {
    width: 100%;
    height: 100%;
  }
  nav {
    justify-content: center;
  }
  .navbar__logo {
    border: solid 3px white;
    text-align: center;
    align-content: center;
    width: 50%;
    height: 70%;
    margin-top: 35px;
    margin-bottom: 30px;
  }
  contenedor__main {
    display: flex;
    text-align: center;
  }
  .h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 30px;
    padding: 20px 5px 20px 5px;
  }
  h2 {
    font-family: 'Krona One', sans-serif;
    color: white;
    font-size: 25px;
    padding: 10px 5px 10px 5px;
  }
  .h3 {
    font-family: 'Roboto', sans-serif;
    color: #839705;
    font-size: 20px;
    padding: 20px 5px 20px 5px;
  }
  .parrafos {
    font-family: 'Merriweather', serif;
    color: white;
    padding: 20px 5px 20px 5px;
  }
  b {
    font-family: 'Merriweather', serif;
    color: #839705;
    padding: 20px 5px 20px 5px;
  }
  .contenedor__main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  /*.contenedor__main__noticias{

       }
       .contenedor__main__noticias__item{

       }
       .articule__noticias{

       }
       .contenedor__main__musica{

       }
       .contenedor__main__musica__item{

       }
       .articule__musica{

       }
     
       .contenedor__main__fechas{

       }
       .contenedor__main__fechas__item{

       }
       .articule__musica{

       }*/
  .footer__img {
    border-radius: 30%;
    width: 20%;
  }
  li {
    font-size: 20px;
  }
}

/*  <<<<AMARILLO: TABLETS>>> */
/*  Media Queries:  */
/*  AZUL: MOVIL  */
/*  AMARILLO: TABLET  */
/*  VERDE: DESKTOP  */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: 0;
  }
  body {
    border: solid yellow 10px;
    text-align: center;
  }
  /*Bottom Nav*/
  .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .navbar-toggler {
    width: 100%;
    height: 100%;
  }
  nav {
    justify-content: center;
  }
  .navbar__logo {
    border: solid 3px white;
    text-align: center;
    align-content: center;
    width: 35%;
    height: 70%;
    margin-top: 35px;
    margin-bottom: 30px;
  }
  contenedor__main {
    display: flex;
    text-align: center;
  }
  .h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 30px;
    padding: 20px 5px 20px 5px;
  }
  h2 {
    font-family: 'Krona One', sans-serif;
    color: white;
    font-size: 25px;
    padding: 10px 5px 10px 5px;
  }
  .h3 {
    font-family: 'Roboto', sans-serif;
    color: #839705;
    font-size: 20px;
    padding: 20px 5px 20px 5px;
  }
  .parrafos {
    font-family: 'Merriweather', serif;
    color: white;
    padding: 20px 5px 20px 5px;
  }
  b {
    font-family: 'Merriweather', serif;
    color: #839705;
    padding: 20px 5px 20px 5px;
  }
  .contenedor__main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  /*.contenedor__main__noticias{
   
           }
           .contenedor__main__noticias__item{
   
           }
           .articule__noticias{
   
           }
           .contenedor__main__musica{
   
           }
           .contenedor__main__musica__item{
   
           }
           .articule__musica{
   
           }
         
           .contenedor__main__fechas{
   
           }
           .contenedor__main__fechas__item{
   
           }
           .articule__musica{
   
           }*/
  .footer__img {
    border-radius: 30%;
    width: 20%;
  }
  li {
    font-size: 20px;
  }
}

/*  <<<<VERDE: DESKTOP>>> */
/*  Media Queries:  */
/*  AZUL: MOVIL  */
/*  AMARILLO: TABLET  */
/*  VERDE: DESKTOP  */
@media only screen and (min-width: 1023px) and (max-width: 1439px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: 0;
  }
  body {
    border: solid green 10px;
    text-align: center;
  }
  /*Bottom Nav*/
  .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .navbar-toggler {
    width: 100%;
    height: 100%;
  }
  nav {
    justify-content: center;
  }
  .navbar__logo {
    border: solid 3px white;
    text-align: center;
    align-content: center;
    width: 35%;
    height: 70%;
    margin-top: 35px;
    margin-bottom: 30px;
  }
  contenedor__main {
    display: flex;
    text-align: center;
  }
  .h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 30px;
    padding: 20px 5px 20px 5px;
  }
  h2 {
    font-family: 'Krona One', sans-serif;
    color: white;
    font-size: 25px;
    padding: 10px 5px 10px 5px;
  }
  .h3 {
    font-family: 'Roboto', sans-serif;
    color: #839705;
    font-size: 20px;
    padding: 20px 5px 20px 5px;
  }
  .parrafos {
    font-family: 'Merriweather', serif;
    color: white;
    padding: 20px 5px 20px 5px;
  }
  b {
    font-family: 'Merriweather', serif;
    color: #839705;
    padding: 20px 5px 20px 5px;
  }
  .contenedor__main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  /*.contenedor__main__noticias{
   
           }
           .contenedor__main__noticias__item{
   
           }
           .articule__noticias{
   
           }
           .contenedor__main__musica{
   
           }
           .contenedor__main__musica__item{
   
           }
           .articule__musica{
   
           }
         
           .contenedor__main__fechas{
   
           }
           .contenedor__main__fechas__item{
   
           }
           .articule__musica{
   
           }*/
  .footer__img {
    border-radius: 30%;
    width: 20%;
  }
  li {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1440px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: 0;
  }
  body {
    border: solid red 10px;
    text-align: center;
  }
  /*Bottom Nav*/
  .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .navbar-toggler {
    width: 100%;
    height: 100%;
  }
  nav {
    justify-content: center;
  }
  .navbar__logo {
    border: solid 3px white;
    text-align: center;
    align-content: center;
    width: 20%;
    height: 30%;
    margin-top: 35px;
    margin-bottom: 30px;
  }
  .h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 30px;
    padding: 20px 5px 20px 5px;
  }
  h2 {
    font-family: 'Krona One', sans-serif;
    color: white;
    font-size: 25px;
    padding: 10px 5px 10px 5px;
  }
  .h3 {
    font-family: 'Roboto', sans-serif;
    color: #839705;
    font-size: 20px;
    padding: 20px 5px 20px 5px;
  }
  .parrafos {
    font-family: 'Merriweather', serif;
    color: white;
    padding: 20px 5px 20px 5px;
  }
  b {
    font-family: 'Merriweather', serif;
    color: #839705;
    padding: 20px 5px 20px 5px;
  }
  .contenedor__main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .contenedor__main__noticias, .contenedor__main__noticias__item, .articule__noticias, .contenedor__main__musica, .contenedor__main__musica__item, .articule__musica, .contenedor__main__fechas, .contenedor__main__fechas__item {
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
  }
  .footer__img {
    border-radius: 30%;
    width: 20%;
  }
  li {
    font-size: 20px;
  }
}

/*MEDIA QUERIES*/
/*# sourceMappingURL=style.css.map */