/*ARCHIVO RAIZ DE SASS*/
/*VARIABLES PARA ELEMENTOS*/
@font-face {
  font-family: urban;
  src: url(../../fonts/UrbanJungleDEMO.otf);
}

@font-face {
  font-family: plane;
  src: url(../../fonts/Plane.ttf);
}

@font-face {
  font-family: kina;
  src: url(../../fonts/Kiona-Regular.ttf);
}

@font-face {
  font-family: biko;
  src: url(../../fonts/Biko_Regular.otf);
}

@font-face {
  font-family: cordelina;
  src: url(../../fonts/cordelina.otf);
}

/*CSS PARA TEXTOS*/
/* BODY */
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background-image: url(/imagenes/body_III.JPG);
  background-size: auto;
  border: solid #2d00e3 3px;
  text-align: center;
}

/*CSS PARA EL BODY*/
/* HEADER */
header {
  background-image: url(/imagenes/body_I.JPG);
  background-size: cover;
  width: 100%;
  border: solid #000000;
}

.navbar-toggler {
  width: 100%;
  height: 100%;
  margin: 30px 0 50px 0;
}

header nav h1 {
  text-align: center;
  align-content: center;
  width: 100%;
  height: 100%;
  font-size: 65px;
  font-family: urban;
  color: black;
}

header nav li {
  font-size: 15px;
  list-style: none;
  font-family: urban;
}

/*CSS PARA EL HEADER*/
/* MAIN */
/*video del index*/
#inicio .conteiner__inicio {
  position: relative;
  height: 100vh;
}

#inicio .video__conteiner {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#inicio .video__conteiner video {
  position: relative;
  top: 0;
  left: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transform: translate(-50%);
}

#inicio span {
  font-family: cordelina;
  color: #000000;
  font-size: 20px;
}

#inicio p {
  font-family: cordelina;
  font-size: 20px;
  color: #E9EFC0;
  padding: 10px 0 10px 0;
}

#inicio .logo {
  margin: 30px 0 0 0;
  width: 150px;
  border-radius: 50%;
}

#inicio .texto__inicio {
  font-size: 20px;
}

#fechas h2 {
  font-family: plane;
  color: #006d02;
  font-size: 30px;
  margin: 10px 0 20px 0;
}

#fechas article h3 {
  font-family: cordelina;
  color: #509659;
  font-size: 30px;
  margin: 30px 0 25px 0;
}

#fechas .img__section__fechas {
  width: 80%;
  height: 250px;
  border: solid 5px #006d02;
  border-radius: 10px;
  margin: 10px 0 30px 0;
  box-shadow: 5px 10px 50px #B4E197;
}

#fechas .section__fechas {
  display: flex;
  flex-direction: column;
}

#fechas .logo {
  border-radius: 20px;
  width: 50px;
}

#noticias h2 {
  font-family: plane;
  color: #006d02;
  font-size: 30px;
  margin: 50px 0 30px 0;
}

#noticias .section__noticias {
  display: flex;
  flex-direction: column;
}

#noticias article h3 {
  font-family: cordelina;
  color: #509659;
  font-size: 30px;
  margin: 30px 0 25px 0;
}

#noticias p {
  font-family: cordelina;
  font-size: 15px;
  color: #E9EFC0;
}

#noticias .img__section__noticias {
  width: 80%;
  border: solid 2px white;
  border-radius: 10px;
  margin: 10px 0 30px 0;
  box-shadow: 5px 5px 50px #00a816;
}

#noticias article {
  padding: 5px;
  margin: 5px;
}

/*CSS PARA EL MAIN*/
/* FOOTER */
footer {
  background-size: contain;
  width: 100%;
  align-items: center;
  align-content: center;
}

.boton__footer {
  background-color: #000000;
}

.texto__footer {
  background-color: rgba(0, 0, 0, 0.2);
}

/*CSS PARA EL FOOTER*/
/* FORMULARIO CONTACTO */
z.contacto {
  border: 1px solid #CED5D7;
  border-radius: 6px;
  padding: 45px 45px 20px;
  margin-top: 50px;
  background-color: #9e9e9e;
  box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
}

.contacto label {
  display: block;
  font-weight: bold;
}

.contacto div {
  margin-bottom: 15px;
}

.contacto input[type='text'], .contacto textarea {
  padding: 7px 6px;
  width: 70%;
  border: 1px solid #CED5D7;
  resize: none;
  box-shadow: 0 0 0 3px #EEF5F7;
  margin: 5px 0;
}

.contacto input[type='text']:focus, .contacto textarea:focus {
  outline: none;
  box-shadow: 0 0 0 3px #dde9ec;
}

.contacto input[type='submit'] {
  border: 1px solid #CED5D7;
  box-shadow: 0 0 0 3px #EEF5F7;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 0px white;
  background: #e4f1f6;
  background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
  background: -webkit-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
}

.contacto input[type='submit']:hover {
  background: #edfcff;
  background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
  background: -webkit-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
}

.contacto input[type='submit']:active {
  background: #cfe6ef;
  background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
  background: -webkit-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
}

/*CSS FORMULARIO PAGINA CONTACTO*/
/* ANIMACIONES */
.main__titulo {
  padding: 20px;
  margin: 20px;
  font-size: 20px;
  transition: 2s;
}

.contenedor__main__titulo {
  transition: 2s;
}

.contenedor__main__titulo:hover {
  transform: scale(3);
}

.main__titulo:hover {
  size: 100px;
}

.logo {
  transition: 2s;
}

.logo:hover {
  transform: rotate(-360deg);
}

/* ANIMACIONES */
/*CSS PARA ANIMACIONES*/
/*Media Queries: AZUL: MOVILES S-M-L-, AMARILLO: TABLET, VERDE: LAPTOP, ROJO: DESKTOP  */
@media only screen and (min-width: 319px) and (max-width: 767px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: 0;
  }
  body {
    border: solid #2d00e3 3px;
    text-align: center;
  }
  /*Bottom Nav*/
  .container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  header {
    background-image: url(/imagenes/body_I.JPG);
    background-size: cover;
    width: 100%;
    border: solid #000000;
  }
  .navbar-toggler {
    width: 100%;
    height: 100%;
    margin: 30px 0 50px 0;
  }
  header nav h1 {
    text-align: center;
    align-content: center;
    width: 100%;
    height: 100%;
    font-size: 65px;
    font-family: urban;
    color: black;
  }
  header nav li {
    font-size: 15px;
    list-style: none;
    font-family: urban;
  }
  #inicio span {
    font-family: cordelina;
    color: #000000;
    font-size: 20px;
  }
  #inicio p {
    font-family: cordelina;
    font-size: 20px;
    color: #E9EFC0;
    padding: 10px 0 10px 0;
  }
  #inicio .logo {
    margin: 30px 0 0 0;
    width: 150px;
    border-radius: 50%;
  }
  #inicio .texto__inicio {
    font-size: 20px;
  }
  #fechas h2 {
    font-family: plane;
    color: #006d02;
    font-size: 30px;
    margin: 10px 0 20px 0;
  }
  #fechas article h3 {
    font-family: cordelina;
    color: #509659;
    font-size: 30px;
    margin: 30px 0 25px 0;
  }
  #fechas .img__section__fechas {
    width: 80%;
    height: 250px;
    border: solid 5px #006d02;
    border-radius: 10px;
    margin: 10px 0 30px 0;
    box-shadow: 5px 10px 50px #B4E197;
  }
  #fechas .section__fechas {
    display: flex;
    flex-direction: column;
  }
  #fechas .logo {
    border-radius: 20px;
    width: 50px;
  }
  #noticias h2 {
    font-family: plane;
    color: #006d02;
    font-size: 30px;
    margin: 50px 0 30px 0;
  }
  #noticias .section__noticias {
    display: flex;
    flex-direction: column;
  }
  #noticias article h3 {
    font-family: cordelina;
    color: #509659;
    font-size: 30px;
    margin: 30px 0 25px 0;
  }
  #noticias p {
    font-family: cordelina;
    font-size: 15px;
    color: #E9EFC0;
  }
  #noticias .img__section__noticias {
    width: 80%;
    border: solid 2px white;
    border-radius: 10px;
    margin: 10px 0 30px 0;
    box-shadow: 5px 5px 50px #00a816;
  }
  #noticias article {
    padding: 5px;
    margin: 5px;
  }
}

/*  <<<<AMARILLO: TABLETS>>> */
/*  Media Queries:  */
/*  AZUL: MOVIL  */
/*  AMARILLO: TABLET  */
/*  VERDE: DESKTOP  */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: 0;
  }
  body {
    border: solid #bae300 3px;
    text-align: center;
  }
  /*Bottom Nav*/
  .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header {
    background-image: url(/imagenes/body_I.JPG);
    background-size: cover;
    width: 100%;
    border: solid #000000;
  }
  .navbar-toggler {
    width: 100%;
    height: 100%;
    margin: 100px 0 0 0;
  }
  header nav h1 {
    text-align: center;
    align-content: center;
    width: 100%;
    height: 100%;
    font-size: 100px;
    font-family: urban;
    color: black;
  }
  header nav li {
    font-size: 25px;
    list-style: none;
    font-family: urban;
  }
  #fechas h2 {
    font-family: plane;
    color: #006d02;
    font-size: 40px;
    margin: 10px 0 20px 0;
  }
  #fechas article h3 {
    font-family: cordelina;
    color: #509659;
    font-size: 40px;
    margin: 30px 0 25px 0;
  }
  #fechas .img__section__fechas {
    width: 50%;
    border: solid 5px #006d02;
    border-radius: 10px;
    margin: 10px 0 30px 0;
    box-shadow: 30px 20px 20px #030303;
  }
  #fechas .section__fechas {
    display: flex;
    flex-direction: column;
  }
  #fechas .logo {
    border-radius: 20px;
    width: 150px;
  }
  #inicio span {
    font-family: cordelina;
    color: #000000;
    font-size: 30px;
  }
  #inicio p {
    font-family: cordelina;
    font-size: 20px;
    color: #E9EFC0;
    padding: 10px 0 10px 0;
  }
  #inicio .logo {
    width: 150px;
    border-radius: 50%;
  }
  #inicio .texto__inicio {
    font-size: 40px;
  }
  #noticias h2 {
    font-family: plane;
    color: #006d02;
    font-size: 40px;
    margin: 50px 0 30px 0;
  }
  #noticias .contenedor__noticias {
    display: flex;
  }
  #noticias article h3 {
    font-family: cordelina;
    color: #509659;
    font-size: 40px;
    margin: 30px 0 25px 0;
  }
  #noticias p {
    font-family: cordelina;
    font-size: 25px;
    color: #E9EFC0;
  }
  #noticias .img__section__noticias {
    width: 70%;
    border: solid 2px white;
    border-radius: 10px;
    margin: 10px 0 30px 0;
    box-shadow: 30px 20px 20px #00a816;
  }
  #noticias .section__noticias {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  #noticias article {
    padding: 5px;
    margin: 5px;
  }
}

/*  <<<<VERDE: DESKTOP>>> */
/*  Media Queries:  */
/*  AZUL: MOVIL  */
/*  AMARILLO: TABLET  */
/*  VERDE: DESKTOP  */
@media only screen and (min-width: 992px) and (max-width: 1439px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: 0;
  }
  body {
    border: solid #045200 3px;
    text-align: center;
  }
  /*Bottom Nav*/
  .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header {
    background-image: url(/imagenes/imagen_header2.jpg);
    background-size: contain;
    justify-content: center;
    justify-items: center;
    text-align: center;
    width: 100%;
    border: solid #2b2b2b;
  }
  .navbar-toggler {
    width: 100%;
    height: 100%;
  }
  nav {
    justify-content: center;
  }
  header nav h1 {
    text-align: center;
    align-content: center;
    width: 100%;
    height: 100%;
    font-size: 100px;
    font-family: urban;
    color: #000000;
  }
  header nav li {
    font-size: 30px;
    margin: 10px 30px 0 30px;
    list-style: none;
    font-family: urban;
  }
  #fechas h2 {
    font-family: plane;
    color: #006d02;
    font-size: 40px;
    margin: 10px 0 20px 0;
  }
  #fechas article h3 {
    font-family: cordelina;
    color: #509659;
    font-size: 40px;
    margin: 30px 0 25px 0;
  }
  #fechas .img__section__fechas {
    width: 50%;
    border: solid 5px #006d02;
    border-radius: 10px;
    margin: 10px 0 30px 0;
    box-shadow: 30px 20px 20px #030303;
  }
  #fechas .section__fechas {
    display: flex;
    flex-direction: column;
  }
  #fechas .logo {
    border-radius: 20px;
    width: 150px;
  }
  #inicio span {
    font-family: cordelina;
    color: #000000;
    font-size: 60px;
  }
  #inicio p {
    font-family: cordelina;
    font-size: 40px;
    color: #E9EFC0;
    padding: 10px 0 10px 0;
  }
  #inicio .logo {
    width: 150px;
    border-radius: 50%;
  }
  #inicio .texto__inicio {
    font-size: 40px;
  }
  #noticias h2 {
    font-family: plane;
    color: #006d02;
    font-size: 50px;
    margin: 50px 0 30px 0;
  }
  #noticias .contenedor__noticias {
    display: flex;
  }
  #noticias article h3 {
    font-family: cordelina;
    color: #509659;
    font-size: 45px;
    margin: 30px 0 25px 0;
  }
  #noticias p {
    font-family: cordelina;
    font-size: 25px;
    color: #E9EFC0;
  }
  #noticias .img__section__noticias {
    width: 70%;
    border: solid 2px white;
    border-radius: 10px;
    margin: 10px 0 30px 0;
    box-shadow: 30px 20px 20px #00a816;
  }
  #noticias .section__noticias {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  #noticias article {
    padding: 5px;
    margin: 5px;
  }
}

/*MONITORES FULL HD 1440*/
@media only screen and (min-width: 1440px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: 0;
  }
  body {
    border: solid red 3px;
    text-align: center;
  }
  /*Bottom Nav*/
  .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .navbar-toggler {
    width: 100%;
    height: 100%;
  }
  nav {
    justify-content: center;
  }
  header nav h1 {
    text-align: center;
    align-content: center;
    width: 100%;
    height: 100%;
    font-size: 100px;
    font-family: urban;
    color: black;
  }
  header nav li {
    font-family: urban;
    font-size: 40px;
    margin: 50px 30px 0 0;
    list-style: none;
  }
  header {
    background-image: url(/imagenes/imagen_header2.jpg);
    background-size: contain;
    justify-content: center;
    justify-items: center;
    text-align: center;
    width: 100%;
    border: solid #2b2b2b;
  }
  #main__fechas p {
    font-family: war;
    font-size: 40px;
  }
  #fechas h2 {
    font-family: plane;
    color: #006d02;
    font-size: 50px;
    margin: 10px 0 20px 0;
  }
  #fechas article h3 {
    font-family: cordelina;
    color: #509659;
    font-size: 50px;
    margin: 30px 0 25px 0;
  }
  #fechas .img__section__fechas {
    width: 50%;
    border: solid 5px #006d02;
    border-radius: 10px;
    margin: 10px 0 30px 0;
    box-shadow: 30px 20px 20px #030303;
  }
  #fechas .section__fechas {
    display: flex;
    flex-direction: column;
  }
  #fechas .logo {
    border-radius: 20px;
    width: 150px;
  }
  #noticias .contenedor__noticias {
    display: flex;
  }
  #inicio span {
    font-family: cordelina;
    color: #000000;
    font-size: 60px;
  }
  #inicio p {
    font-family: cordelina;
    font-size: 30px;
    color: #E9EFC0;
    padding: 10px 0 10px 0;
  }
  #inicio .logo {
    width: 150px;
    border-radius: 50%;
  }
  #inicio .texto__inicio {
    font-size: 40px;
  }
  #noticias h2 {
    font-family: plane;
    color: #006d02;
    font-size: 50px;
    margin: 50px 0 30px 0;
  }
  #noticias article h3 {
    font-family: cordelina;
    color: #509659;
    font-size: 30px;
    margin: 30px 0 25px 0;
  }
  #noticias p {
    font-family: cordelina;
    font-size: 20px;
    color: #E9EFC0;
  }
  #noticias .img__section__noticias {
    width: 50%;
    border: solid 2px white;
    border-radius: 10px;
    margin: 10px 0 30px 0;
    box-shadow: 30px 20px 20px #00a816;
  }
  #noticias .section__noticias {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  #noticias article {
    padding: 10px;
    margin: 10px;
  }
}

/*MEDIA QUERIES*/
/*# sourceMappingURL=style.css.map */