/* FOOTER */
footer{

    background-size: contain;
    width: 100%;
    align-items: center;
    align-content: center; 
}

.boton__footer{
    background-color: #000000;
}

.texto__footer{
    background-color: rgba(0, 0, 0, 0.2);
}