header{    
    background-size: contain;    
    justify-content: center;
    justify-items: center;
    text-align: center;
    width: 100%;
    
}
.navbar{  
    justify-content: space-between; 
    &__logo{
        border-radius: 70%;      
        align-content: center;
        width: 150px;
        } 
        
  }

.mask{
    background-color: rgba(0, 0, 0, 0.6);
    }

    .img__header{
        height: 400px
    }

    
    