/*video del index*/

#inicio .conteiner__inicio{
    position: relative;
    height: 100vh;
}

#inicio .video__conteiner{
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden
}

#inicio .video__conteiner video{
    position: relative;
    top: 0;
    left: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: translate(-50%);
}

#inicio span{
    font-family: cordelina;
    color: $negro;
    font-size: 20px ;
  }
  
  #inicio p{
   font-family: cordelina;
   font-size: 20px;
   color:$blanco;
   padding: 10px 0 10px 0;
  }
  
  #inicio .logo{
    margin: 30px 0 0 0;
    width: 150px;
    border-radius: 50%;
  }
  
  #inicio .texto__inicio{
    font-size: 20px ;
  }
  
  #fechas h2{
    font-family: plane;
    color: $verde1;
    font-size: 30px;
    margin: 10px 0 20px 0;
   }
   #fechas article h3{
    font-family: cordelina;
    color: rgb(80, 150, 89);
    font-size: 30px;
    margin: 30px 0 25px 0;
   }
  
  #fechas .img__section__fechas{
    width: 80%;
    height: 250px;
    border: solid 5px $verde1;
    border-radius: 10px;
    margin: 10px 0 30px 0;
    box-shadow: 5px 10px 50px $verde3 ;
  }
  #fechas .section__fechas{
    display: flex;
    flex-direction: column;
  }
  
  #fechas .logo{
    border-radius: 20px;
    width: 50px;
  }    
  #noticias h2{
    font-family: plane;
    color: $verde1;
    font-size: 30px;
    margin: 50px 0 30px 0;    
   }
   #noticias .section__noticias{
    display: flex;
    flex-direction: column;
   }
   
   #noticias article h3{
    font-family: cordelina;
    color: rgb(80, 150, 89);
    font-size: 30px;
    margin: 30px 0 25px 0;
    
   }
   #noticias p{
    font-family: cordelina;
    font-size: 15px;
    color: $verde4;     
   }
  
  #noticias .img__section__noticias{
    width: 80%;
    border: solid 2px white;
    border-radius: 10px;
    margin: 10px 0 30px 0;
    box-shadow: 5px 5px 50px $verde2;
  
  }
  

  #noticias article{
    padding: 5px;
    margin: 5px;      
   }
 







