/*video del index*/

#inicio .conteiner__inicio{
    position: relative;
    height: 100vh;
}

#inicio .video__conteiner{
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden
}

#inicio .video__conteiner video{
    position: relative;
    top: 0;
    left: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: translate(-50%);
}







