/*Media Queries: AZUL: MOVILES S-M-L-, AMARILLO: TABLET, VERDE: LAPTOP, ROJO: DESKTOP  */
@media only screen and (min-width: 319px) and (max-width: 767px) {
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    }
body{
    border: solid blue 10px;
    text-align: center;
  }
  
/*Bottom Nav*/.container-fluid{
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

.navbar-toggler{
    width: 100%;
    height: 100%;
 }
nav{
    justify-content: center;
  }
  .navbar__logo{
   text-align: center;
   align-content: center ;
   width: 100%;
   height: 50%; 
   margin-top: 35px;
   margin-bottom: 30px;
        
 }
 
 contenedor__main{    
     display: flex;
     text-align: center;
   }
  
   
   .h1{
         font-family: 'Roboto', sans-serif;
         color: white;
         font-size: 30px;
         padding: 20px 5px 20px 5px;
         
       
       }
    h2{
         font-family: 'Krona One', sans-serif;
         color: white;
         font-size: 25px;
         padding: 10px 5px 10px 5px;
       }
     .h3{
         font-family: 'Roboto', sans-serif;
         color: rgb(131, 151, 5);
         font-size: 20px;
         padding: 20px 5px 20px 5px;
       }
     .parrafos{
         font-family: 'Merriweather', serif;
         color: white;
         padding: 20px 5px 20px 5px;
       }
     b{
         font-family: 'Merriweather', serif;
         color: rgb(131, 151, 5);
         padding: 20px 5px 20px 5px;
       }
       .contenedor__main{
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;

       }
       /*.contenedor__main__noticias{

       }
       .contenedor__main__noticias__item{

       }
       .articule__noticias{

       }
       .contenedor__main__musica{

       }
       .contenedor__main__musica__item{

       }
       .articule__musica{

       }
     
       .contenedor__main__fechas{

       }
       .contenedor__main__fechas__item{

       }
       .articule__musica{

       }*/

     .footer__img {
         border-radius: 30%;
         width: 20%;
         ;
       }
    li{
     font-size: 20px;
   }
   }
 
     
     
     
     /*  <<<<AMARILLO: TABLETS>>> */ /*  Media Queries:  */ /*  AZUL: MOVIL  */ /*  AMARILLO: TABLET  */ /*  VERDE: DESKTOP  */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
        *{
            margin: 0;
            padding: 0;
            box-sizing: 0;
        }
      body{
        border: solid yellow 10px;
        text-align: center;
      }
      
      /*Bottom Nav*/.container-fluid{
       display: flex;
       flex-direction: column;
       justify-content: center;
     }
    
      .navbar-toggler{
        width: 100%;
        height: 100%;
     
      }
      nav{
        justify-content: center;
      }
      .navbar__logo{
       border: solid 3px white;
       text-align: center;
       align-content: center ;
       width: 35%;
       height: 70%; 
       margin-top: 35px;
       margin-bottom: 30px;
            
     }
     
     contenedor__main{    
         display: flex;
   
         text-align: center;
       }  
       
       .h1{
             font-family: 'Roboto', sans-serif;
             color: white;
             font-size: 30px;
             padding: 20px 5px 20px 5px;
             
           
           }
        h2{
             font-family: 'Krona One', sans-serif;
             color: white;
             font-size: 25px;
             padding: 10px 5px 10px 5px;
           }
         .h3{
             font-family: 'Roboto', sans-serif;
             color: rgb(131, 151, 5);
             font-size: 20px;
             padding: 20px 5px 20px 5px;
           }
         .parrafos{
             font-family: 'Merriweather', serif;
             color: white;
             padding: 20px 5px 20px 5px;
           }
         b{
             font-family: 'Merriweather', serif;
             color: rgb(131, 151, 5);
             padding: 20px 5px 20px 5px;
           }
           .contenedor__main{
             display: flex;
             flex-direction: row;
             flex-wrap: wrap;
   
           }
           /*.contenedor__main__noticias{
   
           }
           .contenedor__main__noticias__item{
   
           }
           .articule__noticias{
   
           }
           .contenedor__main__musica{
   
           }
           .contenedor__main__musica__item{
   
           }
           .articule__musica{
   
           }
         
           .contenedor__main__fechas{
   
           }
           .contenedor__main__fechas__item{
   
           }
           .articule__musica{
   
           }*/
   
         .footer__img {
             border-radius: 30%;
             width: 20%;
             ;
           }
        li{
         font-size: 20px;
       }
       }
     
     
     
     /*  <<<<VERDE: DESKTOP>>> */ /*  Media Queries:  */ /*  AZUL: MOVIL  */ /*  AMARILLO: TABLET  */ /*  VERDE: DESKTOP  */
@media only screen and (min-width: 1023px) and (max-width: 1439px) {
        *{
            margin: 0;
            padding: 0;
            box-sizing: 0;
        }
      body{
        border: solid green 10px;
        text-align: center;
      }
      
      /*Bottom Nav*/.container-fluid{
       display: flex;
       flex-direction: column;
       justify-content: center;
     }
    
      .navbar-toggler{
        width: 100%;
        height: 100%;
     
      }
      nav{
        justify-content: center;
      }
      .navbar__logo{
       border: solid 3px white;
       text-align: center;
       align-content: center ;
       width: 35%;
       height: 70%; 
       margin-top: 35px;
       margin-bottom: 30px;
            
     }
     
     contenedor__main{    
         display: flex;
   
         text-align: center;
       }  
       
       .h1{
             font-family: 'Roboto', sans-serif;
             color: white;
             font-size: 30px;
             padding: 20px 5px 20px 5px;
             
           
           }
        h2{
             font-family: 'Krona One', sans-serif;
             color: white;
             font-size: 25px;
             padding: 10px 5px 10px 5px;
           }
         .h3{
             font-family: 'Roboto', sans-serif;
             color: rgb(131, 151, 5);
             font-size: 20px;
             padding: 20px 5px 20px 5px;
           }
         .parrafos{
             font-family: 'Merriweather', serif;
             color: white;
             padding: 20px 5px 20px 5px;
           }
         b{
             font-family: 'Merriweather', serif;
             color: rgb(131, 151, 5);
             padding: 20px 5px 20px 5px;
           }
           .contenedor__main{
             display: flex;
             flex-direction: row;
             flex-wrap: wrap;
   
           }
           /*.contenedor__main__noticias{
   
           }
           .contenedor__main__noticias__item{
   
           }
           .articule__noticias{
   
           }
           .contenedor__main__musica{
   
           }
           .contenedor__main__musica__item{
   
           }
           .articule__musica{
   
           }
         
           .contenedor__main__fechas{
   
           }
           .contenedor__main__fechas__item{
   
           }
           .articule__musica{
   
           }*/
   
         .footer__img {
             border-radius: 30%;
             width: 20%;
             ;
           }
        li{
         font-size: 20px;
       }
       }
   
@media only screen and (min-width: 1440px){
*{
margin: 0;
padding: 0;
box-sizing: 0;
}
body{
  border: solid red 3px;
  text-align: center;
}
/*Bottom Nav*/      
.container-fluid{
 display: flex;
 flex-direction: column;
 justify-content: center;
}
    
.navbar-toggler{
  width: 100%;
  height: 100%;     
}
nav{
  justify-content: center;
}
header nav h1{
  text-align: center;
  align-content: center ;
  width: 100%;
  height: 100%; 
  font-size: 100px;
 font-family: urban;
}

header nav li{
  font-size: 40px;
  margin: 50px;
  list-style: none;  
}

.contenedor__main{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
}
.contenedor__main__noticias{
 margin: 5px 5px 5px 5px;
 padding: 5px 5px 5px 5px;
}
#main__fechas p{
  font-family: war;
  font-size: 40px;
}
}
#fechas h2{
  font-family: plane;
  color: $verde;
  font-size: 50px;
  margin: 50px 0 60px 0;
 }
 #fechas article h3{
  font-family: cordelina;
  color: rgb(124, 238, 140);
  font-size: 50px;
  margin: 30px 0 10px 0;
 }

#fechas .img__section__fechas{
  width: 50%;
  border: solid 5px $verde;
  border-radius: 10px;
  margin: 10px 0 30px 0;
  box-shadow: 30px 20px 20px rgb(3, 3, 3);
}
#fechas .section__fechas{
  display: flex;
  flex-direction: column;
}

    