h1{
    color: white;
}
h2{
  font-family: 'Kavivanar', cursive;
    color: white;
}
h3{
  font-family: 'Abril Fatface', cursive;
    color: white;
}
p{
  font-family: 'Ribeye', cursive;
    color: white;
    font-size: 20px;
}
li{
  font-family: 'Abril Fatface', cursive;
}

.p__de__index{
  font-family: 'Kavivanar', cursive;
    color: $color__texto;
    font-size: 20px;
}
