h1{
  color: white;
}
h2{
  font-family: 'Krona One', sans-serif;
  font-size: 20;
  color: white;
}
h3{
  font-family: 'Abril Fatface', cursive;
  color: white;
}
p{
  font-family: 'Ribeye', cursive;
  color: white;
    font-size: 20px;
}
li{
  font-family: 'Krona One', sans-serif;
}

.p__de__index{
  font-family: 'Kavivanar', cursive;
  color: white;
    font-size: 20px;
}

.p__de__index{
  font-family: 'Kavivanar', cursive;
  color: white;
    font-size: 20px;
}

.p__historia{
  color: white;
}






